name: Base CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: install and lint
      run: |
        python -m pip install -v ".[dev]"
        mypy neat_ml
        ruff check neat_ml
    - name: install fonts
      if: runner.os == 'Linux'
      run: |
        echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
        sudo apt-get install -y ttf-mscorefonts-installer || true
        sudo fc-cache -f -v
    - name: test
      run: |
        cd /tmp && python -m pytest --pyargs neat_ml --cov=neat_ml --cov-report=term-missing
